<% include ../partials/header %>

<body>
  <br>
    <div class="ui container">
  <a href="/" class="ui button">Change Shipping</a>
  <p>Refresh, and get random shipping info of people that ordered packages.</p>

  <h2>URL : <a href="<%= url %>">Click Here For More Info </a></h2>

  <h2>Description :</h2>
    <h2> <%= detail%> </h2>

      <br>
    <h4>Progress:</h4>
      <h4><%= shipProgress%></h4>
    </div>


</body>




</html>
